/* BEGIN  */
h2 {
    text-align: center;
  }
  
  .catalog {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .catalog-item {
    width: 350px;
    color:white;
    background-color: green;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
    
    
  }
  /* END */
  